<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Dashboard | Rikuyo TC</title>

	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css" />

	<!--
	If you need RTL support just include here RTL CSS file <link rel="stylesheet" type="text/css" href="css/libs/bootstrap-rtl.min.css" />
	And add "rtl" class to <body> element - e.g. <body class="rtl">
	-->

	<!-- libraries -->
	<link rel="stylesheet" type="text/css" href="css/libs/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/nanoscroller.css" />

	<!-- global styles -->
	<link rel="stylesheet" type="text/css" href="css/compiled/theme_styles.css" />
	<link rel="stylesheet" type="text/css" href="css/libs/common.css" />

	<!-- this page specific styles -->
	<link rel="stylesheet" href="css/libs/datepicker.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/libs/nifty-component.css"/>
	<link rel="stylesheet" href="css/libs/select2.css" type="text/css" />


	<!-- Favicon -->
	<link type="image/x-icon" href="favicon.ico" rel="shortcut icon" />

	<!-- google font libraries -->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body class="theme-white fixed-header">

		<div class="md-modal md-effect-8" id="modal-new-folder">
			<div class="md-content">
				<div class="modal-header">
					<button class="md-close close">&times;</button>
					<h4 class="modal-title">新規フォルダ登録</h4>
				</div>
				<div class="modal-body">
					<form action="" id="" method="post" accept-charset="utf-8" class="form_new_folder">
						<div class="form-group">
							<label for="folderJp">フォルダ名(日本語)</label>
							<input type="text" class="form-control" id="folderJp" placeholder="フォルダ名を日本語で入力してください">
						</div>
						<div class="form-group">
							<label for="folderEn">フォルダ名(English)</label>
							<input type="text" class="form-control" id="folderEn" placeholder="フォルダ名を英語で入力してください">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default btn_close" data-dismiss="modal">閉じる</button>
							<button type="button" class="btn btn-primary folder_form_btn">登録</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="md-modal md-effect-8" id="modal-edit-folder">
			<div class="md-content">
				<div class="modal-header">
					<button class="md-close close">&times;</button>
					<h4 class="modal-title">フォルダ編集/削除</h4>
				</div>
				<div class="modal-body">
					<form class="form" role="form" action="folder/edit" method="post" accept-charset="utf-8">
						<div class="form-group chk-folder">
							<div class="radio">
								<input type="radio" name="editFolderRadio" id="editFolderRadio1" value="edit" checked="" class="edit-folder">
								<label for="editFolderRadio1">
									フォルダ名を変更
								</label>
							</div>
							<div class="radio">
								<input type="radio" name="editFolderRadio" id="editFolderRadios2" value="edit" class="delete-folder">
								<label for="editFolderRadios2">
									フォルダを削除
								</label>
							</div>
						</div>
						<div class="form-group form-group-select2">
							<label for="editFolder">編集するフォルダを選択</label>
							<select id="editFolder" class="form-control">
								<option>フォルダを選択してください</option>
								<option value="1">Human Power(送り出し機関)</option>
								<option value="2">所属機関</option>
								<option value="3">Rikuyo Japan Training Center</option>
								<option value="4">カンボジア労働省</option>
								<option value="5">実習生関係</option>
							</select>
						</div>
						<div class="form-group renew-folder-name">
							<label for="inputFolderNameJp">新しいフォルダ名(日本語)</label>
							<input type="text" class="form-control" name="" id="inputFolderNameJp" value="" placeholder="">
						</div>
						<div class="form-group renew-folder-name">
							<label for="inputFolderNameEn">新しいフォルダ名(English)</label>
							<input type="text" class="form-control" name="" id="inputFolderNameEn" value="" >
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-default renew-folder-name">変更を保存</button>
							<button type="submit" class="btn btn-danger pull-right delete-folder-btn hide">選択したフォルダを削除</button>
						</div>
					</form>
				</div>
			</div>
		</div>


		<div class="md-modal md-effect-8" id="modal-new-sub-folder">
			<div class="md-content">
				<div class="modal-header">
					<button class="md-close close">&times;</button>
					<h4 class="modal-title">新規サブフォルダ登録</h4>
				</div>
				<div class="modal-body">
					<form action="" id="" method="post" accept-charset="utf-8" class="form_new_sub_folder">
						<input type="hidden" name="folderId" value="">
						<div class="form-group">
							<label for="subFolderJp">サブフォルダ名(日本語)</label>
							<input type="text" class="form-control" id="subFolderJp" placeholder="サブフォルダ名を日本語で入力してください">
						</div>
						<div class="form-group">
							<label for="subFolderEn">サブフォルダ名(English)</label>
							<input type="text" class="form-control" id="subFolderEn" placeholder="サブフォルダ名を英語で入力してください">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default btn_close" data-dismiss="modal">閉じる</button>
							<button type="button" class="btn btn-primary sub_folder_form_btn">登録</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="md-modal md-effect-8" id="modal-edit-sub-folder">
			<div class="md-content">
				<div class="modal-header">
					<button class="md-close close">&times;</button>
					<h4 class="modal-title">サブフォルダ編集/削除</h4>
				</div>
				<div class="modal-body">
					<form class="form" role="form" action="sub_folder/edit" method="post" accept-charset="utf-8">
						<div class="form-group chk-folder">
							<div class="radio">
								<input type="radio" name="editSubFolderRadio" id="editSubFolderRadio1" value="edit" checked="" class="edit-sub-folder">
								<label for="editSubFolderRadio1">
									サブフォルダ名を変更
								</label>
							</div>
							<div class="radio">
								<input type="radio" name="editSubFolderRadio" id="editSubFolderRadios2" value="delete" class="delete-sub-folder">
								<label for="editSubFolderRadios2">
									サブフォルダを削除
								</label>
							</div>
						</div>
						<div class="form-group form-group-select2">
							<label for="editSubFolder">編集するサブフォルダを選択</label>
							<select id="editSubFolder" class="form-control" >
								<option>サブフォルダを選択してください</option>
								<option value="1">Human Power(送り出し機関)</option>
								<option value="2">所属機関</option>
								<option value="3">Rikuyo Japan Training Center</option>
								<option value="4">カンボジア労働省</option>
								<option value="5">実習生関係</option>
							</select>
						</div>
						<div class="form-group renew-sub-folder-name">
							<label for="inputFolderNameJp">新しいサブフォルダ名(日本語)</label>
							<input type="text" class="form-control" name="" id="inputFolderNameJp" value="" placeholder="">
						</div>
						<div class="form-group renew-sub-folder-name">
							<label for="inputFolderNameEn">新しいサブフォルダ名(English)</label>
							<input type="text" class="form-control" name="" id="inputFolderNameEn" value="" >
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-default renew-sub-folder-name">変更を保存</button>
							<button type="submit" class="btn btn-danger pull-right delete-sub-folder-btn hide">選択したサブフォルダを削除</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="md-modal md-effect-8" id="modal-new-file">
			<div class="md-content">
				<div class="modal-header">
					<button class="md-close close">&times;</button>
					<h4 class="modal-title">新規書類登録</h4>
				</div>
				<div class="modal-body">
					<form action="" id="" method="post" accept-charset="utf-8" class="form_new_file">
						<input type="hidden" name="folderId" value="" class="" >
						<input type="hidden" name="subFolderId" value="">
						<div class="form-group">
							<label for="inputFileName">書類名(日本語)</label>
							<input type="text" class="form-control fileJp" name="" value="" >
						</div>
						<div class="form-group">
							<label for="inputFileNameEn">書類名(英語)</label>
							<input type="text" class="form-control fileEn" id="inputFileNameEn" name="" value="" placeholder="">
						</div>
						<div class="form-group">
							<label>言語(複数選択可)</label><br>
							<div class="checkbox-nice checkbox-inline">
								<input type="checkbox" id="checkbox-inl-1" name="lang_jpn" value="日本語">
								<label for="checkbox-inl-1">
								日本語
								</label>
							</div>
							<div class="checkbox-nice checkbox-inline">
								<input type="checkbox" id="checkbox-inl-2" name="lang_eng" value="英語">
								<label for="checkbox-inl-2">
								英語
								</label>
							</div>
							<div class="checkbox-nice checkbox-inline">
								<input type="checkbox" id="checkbox-inl-3" name="lang_khm"　value="クメール語">
								<label for="checkbox-inl-3">
								クメール語
								</label>
							</div>
						</div>
						<div class="form-group">
							<label>備考</label>
							<input type="text" name="note" class="form-control" placeholder="">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default btn_close" data-dismiss="modal">閉じる</button>
							<button type="button" class="btn btn-primary new_file_form_btn">登録</button>
						</div>
					</form>
				</div>
			</div>
		</div>


		<div class="md-modal md-effect-8" id="modal-upload-file">
			<div class="md-content">
				<div class="modal-header">
					<button class="md-close close">&times;</button>
					<h4 class="modal-title">書類アップロード</h4>
				</div>
				<div class="modal-body">
					<form class="form" role="form" action="fileupload/add" method="post" accept-charset="utf-8" enctype="multipart/form-data">
						<div class="form-group">
							<div class="radio">
								<input type="radio" name="uploadRadio" id="uploadRadio1" value="add" checked="">
								<label for="uploadRadio1">
									新規書類アップロード
								</label>
							</div>
							<div class="radio">
								<input type="radio" name="uploadRadio" id="uploadRadios2" value="update" >
								<label for="uploadRadios2">
									既存の書類を上書きして更新
								</label>
							</div>
						</div>
						<div class="form-group">
							<input type="file" name="data[UploadpackImage][img]" id="UploadpackImageImg">
						</div>
						<div class="form-group form-group-select2">
							<label>保存する書類名を選択</label>
							<select class="form-control">
								<option>書類を選択してください</option>
								<option value="1">送り出し機関概要書</option>
								<option value="2">HP社人材派遣ライセンス(英訳・邦訳付き)</option>
								<option value="3">HP社パンフレット(和訳付き)</option>
								<option value="4">日本への技能実習のための派遣契約書</option>
								<option value="5">カンボジア王国外国人技能実習事業に関する協定書</option>
							</select>
						</div>
						<div class="form-group">
							<label>保存する書類の言語を選択</label>
							<div class="radio">
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="jpn" checked="">
								<label for="optionsRadios1">
									日本語
								</label>
							</div>
							<div class="radio">
								<input type="radio" name="optionsRadios" id="optionsRadios2" value="eng" >
								<label for="optionsRadios2">
									英語
								</label>
							</div>
							<div class="radio">
								<input type="radio" name="optionsRadios" id="optionsRadios3" value="khm" >
								<label for="optionsRadios3">
									クメール語
								</label>
							</div>
						</div>
						<div class="form-group">
							<label for="">備考</label>
							<input type="text" class="form-control" name="" value="" placeholder="">
						</div>
						<div class="modal-footer">
							<a href="#upload" type="submit" class="btn btn-success pull-right"><i class="fa fa-lg fa-cloud-upload"></i> アップロード</a>
						</div>
					</form>
				</div>
			</div>
		</div>



		<div class="md-modal md-effect-8" id="modal-edit-file">
			<div class="md-content">
				<div class="modal-header">
					<button class="md-close close">&times;</button>
					<h4 class="modal-title">書類編集</h4>
				</div>
				<div class="modal-body">
					<form class="form form_edit_file" role="form" action="filename/edit" method="post" accept-charset="utf-8">
						<div class="form-group form-group-select2">
							<input type="hidden" name="" value="" data-file-id="1">
						</div>
						<div class="delete-file-hidden">
							<div class="form-group">
								<label for="inputFileName">新しい書類名(日本語)</label>
								<input type="text" class="form-control inputFileNameJp" name="" value="" >
							</div>
							<div class="form-group">
								<label for="inputFileNameEn">新しい書類名(英語)</label>
								<input type="text" class="form-control inputFileNameEn" id="inputFileNameEn" name="" value="" placeholder="">
							</div>
							<div class="form-group">
								<label>言語(複数選択可)</label><br>
								<div class="checkbox-nice checkbox-inline lang-jpn-chk">
									<input type="checkbox" id="lang-jpn-chk" name="lang_jpn" class="lang_jpn lang-chk" value="jpn">
									<label for="lang-jpn-chk">
									日本語
									</label>
								</div>
								<div class="checkbox-nice checkbox-inline lang-eng-chk">
									<input type="checkbox" id="lang-eng-chk" name="lang_eng" class="lang_eng lang-chk" value="eng">
									<label for="lang-eng-chk">
									英語
									</label>
								</div>
								<div class="checkbox-nice checkbox-inline lang-khm-chk">
									<input type="checkbox" id="lang-khm-chk" name="lang_khm" class="lang_khm lang-chk"　value="khm">
									<label for="lang-khm-chk">
									クメール語
									</label>
								</div>
							</div>
							<div class="form-group">
								<label>備考</label>
								<input type="text" name="note" class="form-control note" placeholder="">
							</div>
						</div>

						<div class="modal-footer">
							<button type="submit" class="btn btn-default edit-file-btn">変更を保存</button>
							<button type="submit" class="btn btn-danger pull-right hide delete-file-btn">選択した書類を削除</button>
						</div>
					</form>
				</div>
			</div>
		</div>



	<div id="theme-wrapper">
		<header class="navbar" id="header-navbar">
			<div class="container">
				<a href="index.html" id="logo" class="navbar-brand">
					<img src="img/logo.png" alt="" class="normal-logo logo-white"/>
					<!-- <img src="img/logo-black.png" alt="" class="normal-logo logo-black"/>
					<img src="img/logo-small.png" alt="" class="small-logo hidden-xs hidden-sm hidden"/> -->
				</a>

				<div class="clearfix">
				<button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>

				<div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
					<ul class="nav navbar-nav pull-left">
						<li>
							<a class="btn" id="make-small-nav">
								<i class="fa fa-bars"></i>
							</a>
						</li>
						<li class="dropdown hidden-xs">
							<a class="btn dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-bell"></i>
								<span class="count">8</span>
							</a>
							<ul class="dropdown-menu notifications-list">
								<li class="pointer">
									<div class="pointer-inner">
										<div class="arrow"></div>
									</div>
								</li>
								<li class="item-header">You have 6 new notificationsここのロジック考える</li>
								<li class="item">
									<a href="#">
										<i class="fa fa-comment"></i>
										<span class="content">New comment on ‘Awesome P...</span>
										<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
									</a>
								</li>
								<li class="item">
									<a href="#">
										<i class="fa fa-plus"></i>
										<span class="content">New user registration</span>
										<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
									</a>
								</li>
								<li class="item">
									<a href="#">
										<i class="fa fa-envelope"></i>
										<span class="content">New Message from George</span>
										<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
									</a>
								</li>
								<li class="item">
									<a href="#">
										<i class="fa fa-shopping-cart"></i>
										<span class="content">New purchase</span>
										<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
									</a>
								</li>
								<li class="item">
									<a href="#">
										<i class="fa fa-eye"></i>
										<span class="content">New order</span>
										<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
									</a>
								</li>
								<li class="item-footer">
									<a href="#">
										View all notifications
									</a>
								</li>
							</ul>
						</li>

						<li class="dropdown hidden-xs">
							<a class="btn dropdown-toggle" data-toggle="dropdown">
								Langages
								<i class="fa fa-caret-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li class="item">
									<a href="#">
										Japanese
									</a>
								</li>
								<li class="item">
									<a href="#">
										English
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="nav-no-collapse pull-right" id="header-nav">
					<ul class="nav navbar-nav pull-right">
						<li class="hidden-xxs">
							<a class="btn">
								ログアウト
							</a>
						</li>
					</ul>
				</div>
				</div>
			</div>
		</header>
		<div id="page-wrapper" class="container">
			<div class="row">
				<div id="nav-col">
					<section id="col-left" class="col-left-nano">
						<div id="col-left-inner" class="col-left-nano-content">
							<div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
								<div class="user-box">
									<span class="name">
											管理者 橋本
									</span>
								</div>
							</div>
							<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
								<ul class="nav nav-pills nav-stacked">
									<li class="nav-header nav-header-first hidden-sm hidden-xs">
										Menu
									</li>
									<li class="active">
										<a href="index.html">
											<i class="fa fa-home"></i>
											<span>ホーム</span>
										</a>
									</li>
									<li>
										<a href="trainee-db.html">
											<i class="fa fa-child"></i>
											<span>実習生リスト</span>
										</a>
									</li>
									<li>
										<a href="association-db.html">
											<i class="fa fa-institution"></i>
											<span>組合リスト</span>
										</a>
									</li>
									<li>
										<a href="company-db.html">
											<i class="fa fa-building"></i>
											<span>企業リスト</span>
										</a>
									</li>
									<li>
										<a href="agent-db.html">
											<i class="fa fa-building-o"></i>
											<span>送り出し機関リスト</span>
										</a>
									</li>
									<li>
										<a href="document-db.html">
											<i class="fa fa-file"></i>
											<span>書類リスト</span>
										</a>
									</li>
									<li>
										<a href="job-db.html">
											<i class="fa fa-wrench"></i>
											<span>業種・職種リスト</span>
										</a>
									</li>
									<li>
										<a href="interview.html" class="">
											<i class="fa fa-group"></i>
											<span>面接</span>
										</a>
										<!-- <ul class="submenu">
											<li>
												<a href="email-inbox.html">
													Inbox
												</a>
											</li>
											<li>
												<a href="email-detail.html">
													Detail
												</a>
											</li>
											<li>
												<a href="email-compose.html">
													Compose
												</a>
											</li>
										</ul> -->
								</ul>
							</div>
						</div>
					</section>
					<div id="nav-col-submenu"></div>
				</div>
				<div id="content-wrapper">
					<div class="row">
						<div class="col-lg-12">

							<div class="row">
								<div class="col-lg-12">
									<ol class="breadcrumb">
										<li><a href="#">Home</a></li>
										<li class="active"><span>書類リスト</span></li>
									</ol>

									<h1>書類リスト <small></small></h1>
								</div>
							</div>



							<div class="row">
								<div class="col-lg-12">
									<div class="main-box clearfix">
										<header class="main-box-header clearfix">
											<h2>書類一覧
												<button type="button" id="" class="md-trigger btn btn-primary pull-right mL5" data-modal="modal-edit-folder">
												<i class="fa fa-edit fa-lg"></i> フォルダ編集/削除</button>
												<button type="button" id="" class="md-trigger btn btn-primary pull-right" data-modal="modal-new-folder">
												<i class="fa fa-folder fa-lg"></i> 新規フォルダ登録</button>
											</h2>
										</header>

										<div class="main-box-body clearfix">
											<div class="panel-group accordion" id="accordion">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#folder_id_1">
																送り出し機関
															</a>
														</h4>
													</div>
													<div id="folder_id_1" class="panel-collapse collapse">
														<div class="panel-body">
															<div class="row">
																<button type="button" id="" class="md-trigger btn btn-warning mrg-b-lg pull-right mL5" data-modal="modal-new-sub-folder" data-folder-id="1">
																	<i class="fa fa-folder fa-lg"></i> 新規サブフォルダ登録
																</button>
																<button type="button" id="" class="md-trigger btn btn-danger mrg-b-lg pull-left" data-modal="modal-new-file" data-folder-id="1" data-sub-folder-id="0">
																	<i class="fa fa-file-text"></i> 新規書類登録
																</button>
																<button type="button" id="" class="md-trigger btn btn-success mrg-b-lg pull-left mL5" data-modal="modal-upload-file" data-folder-id="1" data-sub-folder-id="1">
																	<i class="fa fa-cloud-upload fa-lg"></i> 書類アップロード
																</button>
															</div>
															<div class="table-responsive">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th class="text-center"><span>書類名</span></th>
																			<th class="text-center"><span>言語</span></th>
																			<th class="text-center"><span>備考</span></th>
																			<th class="text-center"><span>ダウンロード</span></th>
																			<th class="text-center"><span></span></th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>
																				送り出し機関概要書
																			</td>
																			<td>
																				日本語、英語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><a href="docs/hp/outline_jp.docx" class="red"><i class="fa fa-cloud-download"></i> JP</a></button>
																				<button type="button" class="btn btn-info"><a href="docs/hp/outline_en.docx" class="red"><i class="fa fa-cloud-download"></i> EN</a></button>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> KH</button>
																			</td>
																			<td>
																				<div class="actions">
																					<a href="#" class="md-trigger edit_file_btn table-link" data-modal="modal-edit-file" data-file-id="1" data-file-name-jp="送り出し機関概要書" data-file-name-en="Okuridashikikangaisyousyo" data-lang-jpn="1" data-lang-eng="1" data-lang-khm="0" data-note="memo">
																						<i class="fa fa-pencil"></i>
																					</a>
																					<!-- jquery用にdelete_todoクラスを準備 -->
																					<a href="#" class="table-link danger delete_todo">
																						<i class="fa fa-trash-o"></i>
																					</a>
																				</div>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				HP社人材派遣ライセンス(英訳・和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> KH</button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				HP社パンフレット(和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> KH</button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				日本への技能実習のための派遣契約書(和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> KH</button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				カンボジア王国 外国人技能実習事業に関する協定書
																			</td>
																			<td>
																				日本語、英語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> JP</button>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> EN</button>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
															<div class="panel-group accordion" id="accordion_sub">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<h4 class="panel-title">
																			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_sub" href="#sub_folder_id_1">
																				送り出し機関
																			</a>
																		</h4>
																	</div>
																	<div id="sub_folder_id_1" class="panel-collapse collapse">
																		<div class="panel-body">
																			<div class="row">
																				<button type="button" id="" class="md-trigger btn btn-danger mrg-b-lg pull-left" data-modal="modal-new-file" data-folder-id="1" data-sub-folder-id="1">
																					<i class="fa fa-file-text"></i> 新規書類登録
																				</button>
																				<button type="button" id="" class="md-trigger btn btn-success mrg-b-lg pull-left mL5" data-modal="modal-upload-file" data-folder-id="1" data-sub-folder-id="1">
																					<i class="fa fa-cloud-upload fa-lg"></i> 書類アップロード
																				</button>
																			</div>
																			<div class="table-responsive">
																				<table class="table table-bordered">
																					<thead>
																						<tr>
																							<th class="text-center"><span>書類名</span></th>
																							<th class="text-center"><span>言語</span></th>
																							<th class="text-center"><span>備考</span></th>
																							<th class="text-center"><span>ダウンロード</span></th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td>
																								送り出し機関概要書
																							</td>
																							<td>
																								日本語、英語
																							</td>
																							<td class="text-center">
																								1セット
																							</td>
																							<td>
																								<button type="button" class="btn btn-info"><a href="docs/hp/outline_jp.docx" class="red"><i class="fa fa-cloud-download"></i> JP</a></button>
																								<button type="button" class="btn btn-info"><a href="docs/hp/outline_en.docx" class="red"><i class="fa fa-cloud-download"></i> EN</a></button>
																								<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> KH</button>
																							</td>
																						</tr>
																						<tr>
																							<td>
																								HP社人材派遣ライセンス(英訳・和訳付き)
																							</td>
																							<td>
																								クメール語
																							</td>
																							<td class="text-center">
																								1セット
																							</td>
																							<td>
																								<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> KH</button>
																							</td>
																						</tr>
																						<tr>
																							<td>
																								HP社パンフレット(和訳付き)
																							</td>
																							<td>
																								クメール語
																							</td>
																							<td class="text-center">
																								1セット
																							</td>
																							<td>
																								<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> KH</button>
																							</td>
																						</tr>
																						<tr>
																							<td>
																								日本への技能実習のための派遣契約書(和訳付き)
																							</td>
																							<td>
																								クメール語
																							</td>
																							<td class="text-center">
																								1セット
																							</td>
																							<td>
																								<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> KH</button>
																							</td>
																						</tr>
																						<tr>
																							<td>
																								カンボジア王国 外国人技能実習事業に関する協定書
																							</td>
																							<td>
																								日本語、英語
																							</td>
																							<td class="text-center">
																								1セット
																							</td>
																							<td>
																								<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> JP</button>
																								<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> EN</button>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</div>
																			<button type="button" id="" class="md-trigger btn btn-warning mrg-b-lg pull-right mL5" data-modal="modal-edit-sub-folder" data-folder-id="1" data-sub-folder-id="1">
																				<i class="fa fa-edit fa-lg"></i> サブフォルダ編集/削除
																			</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#folder_id_2">
																所属機関
															</a>
														</h4>
													</div>
													<div id="folder_id_2" class="panel-collapse collapse">
														<div class="panel-body">
															<div class="table-responsive">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th class="text-center"><span>書類名</span></th>
																			<th class="text-center"><span>言語</span></th>
																			<th class="text-center"><span>備考</span></th>
																			<th class="text-center"><span>ダウンロード</span></th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>
																				送り出し機関概要書
																			</td>
																			<td>
																				日本語、英語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				HP社人材派遣ライセンス(英訳・和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				HP社パンフレット(和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				日本への技能実習のための派遣契約書(和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				カンボジア王国 外国人技能実習事業に関する協定書
																			</td>
																			<td>
																				日本語、英語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#folder_id_3">
																Rikuyo Japan Training Center
															</a>
														</h4>
													</div>
													<div id="folder_id_3" class="panel-collapse collapse">
														<div class="panel-body">
															<div class="table-responsive">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th class="text-center"><span>書類名</span></th>
																			<th class="text-center"><span>言語</span></th>
																			<th class="text-center"><span>備考</span></th>
																			<th class="text-center"><span>ダウンロード</span></th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>
																				送り出し機関概要書
																			</td>
																			<td>
																				日本語、英語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				HP社人材派遣ライセンス(英訳・和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				HP社パンフレット(和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				日本への技能実習のための派遣契約書(和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				カンボジア王国 外国人技能実習事業に関する協定書
																			</td>
																			<td>
																				日本語、英語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#folder_id_4">
																カンボジア労働省
															</a>
														</h4>
													</div>
													<div id="folder_id_4" class="panel-collapse collapse">
														<div class="panel-body">
															<div class="table-responsive">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th class="text-center"><span>書類名</span></th>
																			<th class="text-center"><span>言語</span></th>
																			<th class="text-center"><span>備考</span></th>
																			<th class="text-center"><span>ダウンロード</span></th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>
																				送り出し機関概要書
																			</td>
																			<td>
																				日本語、英語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				HP社人材派遣ライセンス(英訳・和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				HP社パンフレット(和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				日本への技能実習のための派遣契約書(和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				カンボジア王国 外国人技能実習事業に関する協定書
																			</td>
																			<td>
																				日本語、英語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#folder_id_5">
																実習生関係
															</a>
														</h4>
													</div>
													<div id="folder_id_5" class="panel-collapse collapse">
														<div class="panel-body">
															<div class="table-responsive">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th class="text-center"><span>書類名</span></th>
																			<th class="text-center"><span>言語</span></th>
																			<th class="text-center"><span>備考</span></th>
																			<th class="text-center"><span>ダウンロード</span></th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>
																				送り出し機関概要書
																			</td>
																			<td>
																				日本語、英語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				HP社人材派遣ライセンス(英訳・和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				HP社パンフレット(和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				日本への技能実習のための派遣契約書(和訳付き)
																			</td>
																			<td>
																				クメール語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				カンボジア王国 外国人技能実習事業に関する協定書
																			</td>
																			<td>
																				日本語、英語
																			</td>
																			<td class="text-center">
																				1セット
																			</td>
																			<td>
																				<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i></button>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#folder_id_6">
																サブフォルダ実験
															</a>
														</h4>
													</div>
													<div id="folder_id_6" class="panel-collapse collapse">
														<div class="panel-body">
															<div class="panel-group accordion" id="accordion_sub">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<h4 class="panel-title">
																			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_sub" href="#sub_folder_id_1">
																				送り出し機関
																			</a>
																		</h4>
																	</div>
																	<div id="sub_folder_id_1" class="panel-collapse collapse">
																		<div class="panel-body">
																			<div class="table-responsive">
																				<table class="table table-bordered">
																					<thead>
																						<tr>
																							<th class="text-center"><span>書類名</span></th>
																							<th class="text-center"><span>言語</span></th>
																							<th class="text-center"><span>備考</span></th>
																							<th class="text-center"><span>ダウンロード</span></th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td>
																								送り出し機関概要書
																							</td>
																							<td>
																								日本語、英語
																							</td>
																							<td class="text-center">
																								1セット
																							</td>
																							<td>
																								<button type="button" class="btn btn-info"><a href="docs/hp/outline_jp.docx" class="red"><i class="fa fa-cloud-download"></i> JP</a></button>
																								<button type="button" class="btn btn-info"><a href="docs/hp/outline_en.docx" class="red"><i class="fa fa-cloud-download"></i> EN</a></button>
																								<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> KH</button>
																							</td>
																						</tr>
																						<tr>
																							<td>
																								HP社人材派遣ライセンス(英訳・和訳付き)
																							</td>
																							<td>
																								クメール語
																							</td>
																							<td class="text-center">
																								1セット
																							</td>
																							<td>
																								<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> KH</button>
																							</td>
																						</tr>
																						<tr>
																							<td>
																								HP社パンフレット(和訳付き)
																							</td>
																							<td>
																								クメール語
																							</td>
																							<td class="text-center">
																								1セット
																							</td>
																							<td>
																								<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> KH</button>
																							</td>
																						</tr>
																						<tr>
																							<td>
																								日本への技能実習のための派遣契約書(和訳付き)
																							</td>
																							<td>
																								クメール語
																							</td>
																							<td class="text-center">
																								1セット
																							</td>
																							<td>
																								<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> KH</button>
																							</td>
																						</tr>
																						<tr>
																							<td>
																								カンボジア王国 外国人技能実習事業に関する協定書
																							</td>
																							<td>
																								日本語、英語
																							</td>
																							<td class="text-center">
																								1セット
																							</td>
																							<td>
																								<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> JP</button>
																								<button type="button" class="btn btn-info"><i class="fa fa-cloud-download"></i> EN</button>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<footer id="footer-bar" class="row">
						<p id="footer-copyright" class="col-xs-12">
							Powered by Mangetsu Ltd.
						</p>
					</footer>
				</div>
			</div>
		</div>
	</div>
	<div class="md-overlay"></div>

	<!-- global scripts -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery.nanoscroller.min.js"></script>

	<!-- this page specific scripts -->
	<script src="js/select2.min.js"></script>
	<script src="js/modernizr.custom.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/modalEffects.js"></script>


	<!-- theme scripts -->
	<script src="js/scripts.js"></script>
	<script src="js/pace.min.js"></script>

	<!-- this page specific inline scripts -->
	<script type="text/javascript">
	$(document).ready(function() {

		$('.edit-folder').on('click', function(){
			$('.renew-folder-name').removeClass('hide');
			$('.delete-folder-btn').addClass('hide');
		});
		$('.delete-folder').on('click', function(){
			$('.renew-folder-name').addClass('hide');
			$('.delete-folder-btn').removeClass('hide');
		});

		$('.edit-sub-folder').on('click', function(){
			$('.renew-sub-folder-name').removeClass('hide');
			$('.delete-sub-folder-btn').addClass('hide');
		});
		$('.delete-sub-folder').on('click', function(){
			$('.renew-sub-folder-name').addClass('hide');
			$('.delete-sub-folder-btn').removeClass('hide');
		});

		$('.edit-file').on('click', function(){
			$('.delete-file-hidden').removeClass('hide');
			$('.edit-file-btn').removeClass('hide');
			$('.delete-file-btn').addClass('hide');
		});
		$('.delete-file').on('click', function(){
			$('.delete-file-hidden').addClass('hide');
			$('.edit-file-btn').addClass('hide');
			$('.delete-file-btn').removeClass('hide');
		});

		$(function(){
		//モーダルフォーム

			init();
			//new folder
			$('.folder_form_btn').on('click', function(){
				//form confirm
				$('.form_new_folder').submit();
			});

			//new sub folder
			$('.sub_folder_form_btn').on('click', function(){
				$('input[name=folderId]').val(folder_id);
				$('.form_new_sub_folder').submit();
			});

			//form new file
			$('.new_file_form_btn').on('click', function(){
				$('input[name=folderId]').val(folder_id);
				$('.form_new_file').submit();
			});

			$('.edit_file_btn').on('click', function(){
				//書類編集ボタンクリック時
				var file_id = $(this).data('file-id');
				var file_name_jp = $(this).data('file-name-jp');
				var file_name_en = $(this).data('file-name-en');
				var file_lang_jpn = $(this).data('lang-jpn');
				var file_lang_eng = $(this).data('lang-eng');
				var file_lang_khm = $(this).data('lang-khm');
				var file_note = $(this).data('note');

				//input要素にvalueを継承
				$('.inputFileNameJp').val(file_name_jp);
				$('.inputFileNameEn').val(file_name_en);
				isChk(file_lang_jpn, '.lang_jpn');
				isChk(file_lang_eng, '.lang_eng');
				isChk(file_lang_khm, '.lang_khm');
				$('.note').val(file_note);



				function isChk(lang, class_lang){
					if(lang == 1){
						$(class_lang).prop('checked', true);
					} else {
						$(class_lang).prop('checked', false);
					}
				}

				$('.form_edit_file').on('submit', function(){
					$('.lang-chk').each(function(i){
						if($(this).prop('checked')){
							$(this).val('1');
							alert('true' + i);
						} else {
							$(this).val('0');
							alert('false' + i);
						}
					});
				});

			});

			//common function
			$('.btn_close').on('click', function(){
				close();
			});

			function init(){
				$('.md-trigger').on('click', function(){
					$('input').val('');
					folder_id = $(this).data('folder-id');
				});
			}
			function close(){
				$('body').find('.md-show').removeClass('md-show');
			}
		});
	});
	</script>

</body>
</html>