<p align="center">
    外国人技能実習事業に関する協定書
</p>
<p align="center">
    Agreement Concerning Technical Intern Training Program
</p>
<p align="center">
    <strong>外国人技能実習事業に関する協定書</strong>
</p>
<p>
    　カンボジア王国 Human Power Co.,
    Ltd（以下「送出し機関」という。）と日本国${associationname}（以下「監理団体」という。）は、両国の諸法令に従い、送出し機関の送り出す技能実習生に対し、監理団体及び技能実習生を受け入れる企業等（以下「実習実施機関」という。）が実施する外国人技能実習事業（以下「技能実習事業」という。）について、次のとおり協定を締結する。
</p>
<p>
    <strong>第１章　総　則</strong>
</p>
<p>
    <strong>（目的）</strong>
</p>
<p>
    第１条　この技能実習事業は、日本国の諸法令に基づき、技能実習生に日本国の産業が有する技能、技術又は知識（以下「技能等」という。）を修得させることにより、カンボジア王国に技能等の移転を図り、カンボジア王国の産業の発展を担う人材育成に資するとともに、両国間の相互理解と友好親善の推進を図ることを目的とする。
</p>
<p>
    <strong>第２章　技能実習事業の基本的枠組み</strong>
</p>
<p>
    <strong>（日本国における滞在期間）</strong>
</p>
<p>
    第２条　日本国における滞在期間は、出入国管理及び難民認定法（以下「入管法」という。）が規定する在留資格「技能実習１号」と在留資格「技能実習２号」による期間に区別して設定するものとする。
</p>
<p>
    　２　「技能実習１号」に係る滞在期間は、技能実習生各人につき１年を超えない期間とする。
</p>
<p>
    　３　「技能実習２号」に係る滞在期間は、技能実習生本人、技能実習生の所属機関、カンボジア王国の送出し機関、監理団体及び実習実施機関が同意し、「技能実習２号」への在留資格変更申請を地方入国管理局に行い許可された場合、及びその後に「技能実習２号」に係る在留期間更新申請を地方入国管理局に行い許可された場合に限り、「技能実習１号」と「技能実習２号」とを合わせて３年以内とすることができる。
</p>
<p>
    <strong>（講習及び本邦外における講習又は外部講習）</strong>
</p>
<p>
    第３条　入管法の規定に基づき技能実習生が入国当初に受講する講習は、監理団体が関係法令に従い適正に実施するものとする。
</p>
<p>
    　２　講習の時間数は、「技能実習１号」に係る滞在期間の６分の１以上とする。ただし、監理団体が実施する本邦外（カンボジア王国）における講習又はカンボジア王国の公的機関若しくは教育機関が実施する外部講習が、次項の条件を充足する内容により、技能実習生の入国前６月以内に１月以上かつ１６０時間以上それぞれ実施された場合には、滞在期間の１２分の１以上とすることができる。
</p>
<p>
    　３　本邦外（カンボジア王国）における講習又は外部講習は、カンボジア王国において、それぞれ日本語、日本国での生活一般に関する知識及び日本国での円滑な技能等の修得に資する知識について、座学（見学を含む。）で実施されるものとする。
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>（技能実習）</strong>
</p>
<p>
    第４条　「技能実習１号」に係る技能実習は、技能実習生と実習実施機関との雇用契約の下、監理団体が作成した技能実習計画に基づいて、講習終了後から適正に実施するものとする。
</p>
<p>
    　２　「技能実習２号」に係る技能実習は、「技能実習１号」と同一の実習実施機関において、同一の技能等に関し、技能実習生と実習実施機関との雇用契約の下、監理団体又は実習実施機関が作成した技能実習計画に基づいて適正に実施するものとする。
</p>
<p>
    　３　技能実習は、監理団体の責任及び監理の下、監理団体と実習実施機関が役割分担を明確にして行うものとする。
</p>
<p>
    <strong>（技能実習指導員・生活指導員）</strong>
</p>
<p>
    第５条　実習実施機関は、技能実習生が修得しようとする技能等について、５年以上の経験を有する技能実習指導員を常勤職員として配置するとともに、技能実習生の生活を把握し、その相談・指導に当たる生活指導員を配置するものとする。
</p>
<p>
    　２　監理団体は、実習実施機関における技能実習指導員及び生活指導員がそれぞれ適切な指導を行うことができるよう、その育成に努めるものとする。
</p>
<p>
    <strong>（技能実習生の要件）</strong>
</p>
<p>
    第６条　技能実習生となる者は、次に掲げるすべての要件を満たさなければならない。
</p>
<p>
    　（１）カンボジア王国において、日本国で修得しようとする技能等に係る業務に現に従事しているか、又は従事した経験を有すること。
</p>
<p>
    　（２）日本国での技能実習を修了し帰国後に、日本国で修得した技能等を要する業務に従事することが予定されていること。
</p>
<p>
    　（３）日本国での技能等の修得について、カンボジア王国の国若しくは地方公共団体の機関又はこれらに準ずる機関の推薦を受けていること。
</p>
<p>
    　（４）技能実習制度について理解し、技能等の修得に高い意欲を有すること。
</p>
<p>
    　（５）満１８歳以上であること。
</p>
<p>
    　（６）原則として、過去に日本国における研修又は技能実習の経験がないこと。
</p>
<p>
    （７）技能実習に必要な日本語を習得するための基礎的素養を有すること。
</p>
<p>
    <strong>第３章　職業紹介関係業務等</strong>
</p>
<p>
    <strong>（送出し機関と監理団体の業務提携による職業紹介）</strong>
</p>
<p>
    第７条　送出し機関と監理団体は、技能実習事業を円滑に進めるため、両国の諸法令に従い、両者が連携して、次条から第１２条までに定めるところにより、技能実習生となることを希望する者（以下「技能実習生候補者」という。）の募集、技能実習生候補者（求職者）の選抜、技能実習生を受け入れようとする実習実施機関（求人者）の確保、技能実習生候補者（求職者）及び実習実施機関（求人者）の相談への対応並びに情報提供、技能実習生候補者（求職者）と実習実施機関（求人者）のマッチングその他雇用契約の締結に至るまでの過程における職業紹介業務を、その役割及び義務に沿って的確に遂行するとともに、相互に必要な協力　　を行うものとする。
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>（職業紹介における送出し機関及び監理団体の役割と義務）</strong>
</p>
<p>
    第８条　送出し機関は、次の役割と義務を負う。
</p>
<p>
    （１）技能実習生候補者（求職者）の募集及び求職の申込みの受付
</p>
<p>
    　（２）第６条に定める要件に該当する技能実習生候補者（求職者）の選抜及び選抜された技能実習生候補者（求職者）に係る求職者名簿の整理及び管理
</p>
<p>
    　（３）（２）の求職者名簿の監理団体への送付その他監理団体に対する情報の提供
</p>
<p>
    　（４）技能実習生候補者（求職者）に対する本協定書に基づく技能実習事業の詳細についての説明及び相談への対応
</p>
<p>
    　（５）実習実施機関（求人者）に関する情報、実習実施機関（求人者）の提示する労働条件等の募集条件について明示し、技能実習生候補者（求職者）が十分理解できるよう説明すること及びこれら求人情報を管理すること。
</p>
<p>
    　（６）監理団体と協議、相談の上合意した方法による技能実習生候補者（求職者）と実習実施機関（求人者）のマッチングを図るための適切な措置を講ずること。
</p>
<p>
    　（７）技能実習生候補者（求職者）のマッチング結果の把握
</p>
<p>
    　２　監理団体は、次の役割と義務を負う。
</p>
<p>
    　（１）実習実施機関（求人者）の募集及び求人の申込みの受付
</p>
<p>
    　（２）実習実施機関（求人者）の確認及び確保並びに求人者名簿の整理及び管理
</p>
<p>
    　（３）（２）の求人者名簿の送出し機関への送付その他送出し機関への情報提供
</p>
<p>
    　（４）実習実施機関（求人者）に対する本協定書に基づく技能実習事業の詳細についての説明及び相談への対応
</p>
<p>
    　（５）技能実習生候補者（求職者）に係る求職者名簿の実習実施機関（求人者）への提供並びに求職者名簿の整理及び管理
</p>
<p>
    　（６）送出し機関と協議、相談の上合意した方法による技能実習生候補者（求職者）と実習実施機関（求人者）のマッチングを図るための適切な措置を講ずること。
</p>
<p>
    　（７）実習実施機関（求人者）の採用結果の把握
</p>
<p>
    <strong>（送出し機関及び監理団体の支援）</strong>
</p>
<p>
    第９条　送出し機関及び監理団体は、実習実施機関（求人者）と技能実習生候補者（求職者）との間で雇用契約の締結に向けて円滑に合意がなされるために必要な支援について協議、相談の上、適切な措置を講ずる。
</p>
<p>
    <strong>（求職者及び求人者の同意）</strong>
</p>
<p>
    第１０条　送出し機関及び監理団体は、業務提携による職業紹介を行うことについて、予め対象となる技能実習生候補者（求職者）及び実習実施機関（求人者）の同意を得なければならない。
</p>
<p>
    <strong>（秘密の厳守）</strong>
</p>
<p>
    第１１条　送出し機関及び監理団体は、本章の規定により取得する個人情報については、業務提携による職業紹介においてのみ使用し、適正に管理するとともに、守秘義務を負う。
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>（職業紹介に係る費用の分担等）</strong>
</p>
<p>
    第１２条　送出し機関と監理団体の業務提携による職業紹介を実施するに当たって必要となる経費（以下「職業紹介経費」という。）については、両者は、本章の規定による役割及び義務を踏まえて協議の上、負担者及び負担割合を決定するものとする。
</p>
<p>
    　２　前項の職業紹介経費は、第２３条の送出し管理費、第２４条の送出しに要する諸経費及び第２５条の受入監理費と明確に区分して別途経理するものとする。
</p>
<p>
    　３　第１項に基づき監理団体が負担することとされる費用については、技能実習生候補者（求職者）及び実習実施機関（求人者）から一切徴収してはならない。
</p>
<p>
    <strong>（技能実習生の決定）</strong>
</p>
<p>
    第１３条　技能実習生候補者（求職者）は、本章に定めるところによる職業紹介を経て、実習実施機関（求人者）との間で雇用契約を締結し、日本国への入国手続きを終えることにより、技能実習生となるものとする。
</p>
<p>
    <strong>第４章　技能実習生の処遇等</strong>
</p>
<p>
    <strong>（技能実習生の処遇）</strong>
</p>
<p>
    第１４条　講習期間中の処遇は、次のとおりとする。
</p>
<p>
    　（１）入国当初における講習期間中は、平均的な日本人の生活水準を維持できる生活実費を講習手当として、監理団体が毎月１回定期日に技能実習生本人に直接全額を支給する。この講習手当の額は、１名あたり月額${monthlyfee}円とし、現金支給の場合には、技能実習生本人の受領印又は受領の署名を徴するものとする。
</p>
<p>
    　　　なお、講習のために日本国内の移動費用が生じた場合には、講習手当とは別に実費を支給する。
</p>
<p>
    　（２）講習期間中の宿泊施設については、監理団体が確保し、技能実習生に無償で貸与する。なお、宿泊施設には、通常の生活に必要な設備等を備えるものとする。
</p>
<p>
    　（３）講習は、１週間あたり４０時間を超えないものとし、かつ、予め定めた講習時間外の時間及び講習日以外の日には行わないものとする。
</p>
<p>
    　（４）監理団体は、技能実習生について、外国人技能実習生総合保険など民間の傷害保険等に加入するなどし、講習期間中の死亡、負傷、疾病等の場合における保障措置を講じるものとする。
</p>
<p>
    　２　技能実習期間（講習期間を除く。以下この項において同じ。）中の処遇は、次のとおりとする。
</p>
<p>
    　（１）講習終了後に、技能実習生は実習実施機関との雇用契約の下、技能実習活動を行うが、当該雇用契約は、日本国への入国手続きにおいて締結され、講習の終了後に効力が発生するものとする。なお、技能実習生に対する労働条件通知書の交付は、実習実施機関が雇用契約書を締結の際、本人に対して母国語併記で行うものとする。
</p>
<p>
    　（２）実習実施機関は、毎月、一定期日に技能実習生本人に対して直接賃金の全額を支払う。ただし、法令の定めがある税金、社会保険料などの控除を、また労使で賃金からの控除協定を締結している場合、その範囲内での控除をすることができる。なお、同協定により控除する額は実費を超えないものとする。
</p>
<p>
    　　　また、実習実施機関は賃金支払いに際して、現金支給の場合には、技能実習生本人に賃金支払明細書を交付の上、賃金台帳に技能実習生からの受領印又は受領の署名を徴する。口座振込みの場合は、口座振込みに関する労使協定を締結し、本人の同意書を取り賃金支払明細書の交付を行う。
</p>
<p>
    　　　　なお、技能実習期間中に日本国内の移動費用が生じた場合には、実習実施機関の規定により旅費等の手当を支給する。
</p>
<p>
    　（３）技能実習期間中の宿泊施設については、監理団体又は実習実施機関において確保し、技能実習生に対し有償又は無償で貸与するものとする。
</p>
<p>
    　（４）技能実習期間中における所定労働時間は、休憩時間を除き、原則として１週間について４０時間、１日について８時間を超えないものとする。ただし、労使協定を締結した場合、その範囲内で時間外・休日労働を行わせることができるものとし、その場合には割増賃金を支給する。なお、所定時間外労働、休日労働又は深夜労働を行わせる場合であっても、実習実施機関は、技能実習制度の趣旨を踏まえ、技能実習生が長時間労働とならないよう配慮するとともに、技能実習生に対する指導が可能な体制を確保するものとする。
</p>
<p>
    <strong>（保証金等の徴収の禁止）</strong>
</p>
<p>
    第１５条　送出し機関、監理団体又は実習実施機関（以下、本条において「送出し機関等」という。）は、技能実習生又はその配偶者、直系若しくは同居の親族その他技能実習生と社会生活において密接な関係を有する者（以下、本条において「技能実習生等」という。）から、当該技能実習生が日本国において従事する技能実習に関連して、保証金を徴収してはならない。
</p>
<p>
    　２　送出し機関等は、技能実習生等から、当該技能実習生が日本国において従事する技能実習に関連して、名目のいかんを問わず、金銭その他の財産を管理し、かつ、当該技能実習が修了するまで管理することを予定してはならない。
</p>
<p>
    　３　送出し機関等は、技能実習生等との間で、労働契約の不履行に係る違約金を定める契約その他の不当に金銭その他の財産の移転を予定する契約を締結してはならず、かつ、当該技能実習が修了するまで締結することを予定してはならない。
</p>
<p>
    <strong>（技能実習の中止）</strong>
</p>
<p>
    第１６条　次のいずれかに該当した場合には、技能実習生本人から事情を聴取した上、送出し機関、監理団体及び実習実施機関が協議し、該当者の技能実習を中止し帰国させることができる。
</p>
<p>
    　（１）第６条に違反した場合
</p>
<p>
    　（２）第２０条の（４）に違反した場合
</p>
<p>
    　（３）その他本人の責めに帰することができる事情により、技能実習の継続が不可能又は不適当な場合
</p>
<p>
    <strong>（技能実習生の一時帰国）</strong>
</p>
<p>
    第１７条　技能実習生の「技能実習１号」又は「技能実習２号」在留中の一時帰国は、監理団体及び実習実施機関が相当と認め、かつ、みなし再入国許可手続により（又は、日本国の入国管理局から再入国許可を受けた場合に）、７日以内の一時帰国を認めるものとする。
</p>
<p>
    　　　なお、費用負担者については、一時帰国の事由を勘案し、技能実習生、送出し機関、監理団体又は実習実施機関が協議し決定するものとする。
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>第５章　送出し機関、監理団体の役割、義務等</strong>
</p>
<p>
    <strong>（送出し機関の役割と義務）</strong>
</p>
<p>
    第１８条　送出し機関は、本協定書の各条で定めるもののほか、次の役割と義務を負う。
</p>
<p>
    　（１）技能実習事業に関する事務担当者又は連絡担当者の配置
</p>
<p>
    　（２）技能実習生の来日及び滞在に関する自国政府への法的諸手続の実施
</p>
<p>
    　（３）第３章に規定する技能実習生候補者の選抜
</p>
<p>
    　（４）事前健康診断（歯科診断を含む。）の実施及び診断結果の監理団体への通知
</p>
<p>
    　（５）第３条第２項及び第３項による講習等の委託による実施又は支援、出発前のオリエンテーションの実施
</p>
<p>
    　（６）日本国での入国及び在留手続きに必要な書類の準備
</p>
<p>
    　（７）監理団体との連絡調整その他の技能実習事業の円滑な推進に必要な業務
</p>
<p>
    <strong>（監理団体の役割と義務）</strong>
</p>
<p>
    第１９条　監理団体は、本協定書の各条で定めるもののほか、次の役割と義務を負う。
</p>
<p>
    　（１）技能実習事業に関する事務担当者又は連絡担当者の配置
</p>
<p>
    　（２）技能実習生の来日及び在留のための日本国政府に対する法的諸手続きの実施。ただし、在留手続きについては、実習実施機関が行うことを妨げない。
</p>
<p>
    　（３）技能実習生用の宿泊施設及び講習施設の確保。ただし、宿泊施設については、実習実施機関が確保する場合を含む。
</p>
<p>
    　（４）「技能実習１号」に係る適正な技能実習計画の策定
</p>
<p>
    　（５）技能実習計画に基づく実習実施機関における適正な技能実習実施の監理・指導
</p>
<p>
    　（６）実習実施機関に対する監理・指導（（５）に掲げるものを除く。）
</p>
<p>
    　（７）技能実習生からの各種相談への適切な対応
</p>
<p>
    　（８）実習実施機関の倒産等、技能実習生の責めに帰することができない事由により技能実習の継続が困難となった場合における新たな実習先の確保（技能実習生が技能実習の継続を希望するときに限る。）
</p>
<p>
    　（９）送出し機関との連絡調整その他の技能実習事業の円滑な推進に必要な業務
</p>
<p>
    <strong>（技能実習生の遵守すべき事項の指導）</strong>
</p>
<p>
    第２０条　送出し機関は、技能実習生に対して、次に示す技能実習生が日本国滞在中に遵守すべき事項の周知徹底を図る。また、技能実習生の日本国滞在期間中これらの遵守事項の徹底を図るため、監理団体及び実習実施機関と協力して、指導を行うものとする。
</p>
<p>
    　（１）技能実習指導員及び生活指導員の指導に従い、誠実な姿勢で技能実習を全うすること。
</p>
<p>
    　（２）修得した技能等を帰国後復職した職場で有効に活用し、母国の産業の発展に寄与すること。
</p>
<p>
    　（３）日本国滞在は単身で行い、同居を目的とした家族の呼び寄せは行わないこと。
</p>
<p>
    　（４）在留資格で認められた以外の収入や報酬を伴う活動は行わないこと。
</p>
<p>
    　（５）日本国での滞在期間中は、自らが責任を持って、旅券については保管し、在留カードについては携帯すること。
</p>
<p>
    　（６）技能実習修了後は速やかに帰国すること。
</p>
<p>
    <strong>（帰国後のフォローアップ）</strong>
</p>
<p>
    第２１条　監理団体は、送出し機関と協力して、日本国で技能等を修得した技能実習生が帰国後に本国で当該技能等を活用しているかについてフォローアップ調査を行うものとする。
</p>
<p>
    　２　送出し機関は、帰国した技能実習生が日本国で修得した技能等をカンボジア王国で活用しているかの調査結果を取りまとめの上、監理団体又は実習実施機関に報告するものとする。
</p>
<p>
    <strong>（事故・犯罪・失踪に関する措置）</strong>
</p>
<p>
    第２２条　技能実習生に関する事故・犯罪・失踪が発生した場合には、監理団体は送出し機関に速やかにその事実を連絡するとともに、日本国の諸法令等に従い、両者の協議により適切に対応するものとする。
</p>
<p>
    <strong>第６章　費用負担等</strong>
</p>
<p>
    <strong>（送出し管理費の内訳）</strong>
</p>
<p>
    第２３条　技能実習事業の推進に関し、送出し機関側で要する費用（以下「送出し管理費」という。ただし、次条で規定する諸経費及び技能実習生候補者の選抜、決定等に係る職業紹介経費を除く。）は次のとおりとする。
</p>
<p>
    　（１）送出し機関が行う技能実習生候補者の派遣前の健康診断及び歯科診断の準備に要する費用その他の当該診断の実施に附帯する費用
</p>
<p>
    　（２）日本語学習、日本国での生活指導等の事前講習等に要する費用及びこの期間中の休業補償費
</p>
<p>
    　（３）送出し国の企業又は監理団体との連絡・協議に要する費用
</p>
<p>
    　（４）送出し機関として、日本国への職員派遣等による技能実習生に対する相談、生活指導の補助に要する費用（技能実習生が事故にあった場合の対策費用を含む。）
</p>
<p>
    　（５）その他本事業推進のために送出し機関側で発生する費用
</p>
<p>
    <strong>（送出しに要する諸経費）</strong>
</p>
<p>
    第２４条　前条に規定する費用のほか、技能実習生の送出しに要する諸経費は、次のとおりとする。
</p>
<p>
    　（１）健康診断費及び歯科診断費
</p>
<p>
    　（２）旅券及び査証申請手数料
</p>
<p>
    　（３）派遣前及び帰国後のカンボジア王国内移動旅費
</p>
<p>
    　（４）その他技能実習生の送出しに関しカンボジア王国内で発生する経費
</p>
<p>
    <strong>（受入れ監理費の内訳）</strong>
</p>
<p>
    第２５条　技能実習事業の推進に関し、監理団体側で監理に要する費用（以下「受入れ監理費」という。）は、次のとおりとする（ただし、技能実習生候補者の選抜、決定等に係る職業紹介経費は除く。）。
</p>
<p>
    　（１）送出し機関との連絡・協議に要する費用
</p>
<p>
    　（２）実習実施機関の選定に要する費用
</p>
<p>
    　（３）説明会開催等の受入れ準備に係る日本国内で要する費用
</p>
<p>
    　（４）第２６条に定める往復旅費
</p>
<p>
    　（５）講習期間中の事故等の場合における保障措置に係る費用
</p>
<p>
    　（６）講習の実施に要する費用
</p>
<p>
    　（７）実習実施機関に対する監査及び訪問指導の実施に要する費用
</p>
<p>
    　（８）宿泊施設の確保に要する費用
</p>
<p>
    　（９）技能実習生からの相談に対応する措置に要する費用
</p>
<p>
    　（１０）技能実習事業に係る打合せ及び状況視察等、送出し国訪問に要する旅費
</p>
<p>
    　（１１）その他本事業推進のために監理団体側で発生する費用
</p>
<p>
    <strong>（費用の負担）</strong>
</p>
<p>
    第２６条　技能実習事業に要する費用のうち、第２３条の送出し管理費及び第２４条の送出しに要する諸経費については、相互に協議し、妥当な部分を送出し機関及び監理団体が、また、第２５条の受入れ監理費については、監理団体及び実習実施機関側が負担するものとする。ただし、技能実習生の技能実習のための来日と技能実習修了後の帰国の旅費については、技能実習生が母国を離れる最後の地点から、技能実習修了後に帰国のため母国に入国する最初の地点までの往復旅費を、監理団体及び実習実施機関側が負担する。
</p>
<p>
    <strong>（送出し管理費等の取扱い）</strong>
</p>
<p>
    第２７条　監理団体が、第２３条の送出し管理費及び第２４条の送出しに要する諸経費の一部を負担することとした場合には、双方で相当と認めた金額を送出し機関側に送金する。なお、この場合において、監理団体が負担する送出し管理費及び送出しに要する諸経費の内訳については送出し機関から監理団体へ別途通知する。
</p>
<p>
    　２　技能実習期間中の送出し管理費は１名あたり月額７，０００円とする。
</p>
<p>
    　３　監理団体は、実習実施機関から毎月送出し管理費を徴収し、３か月に一度まとめて送出し機関に送金する。
</p>
<p>
    　４　送出し管理費の取扱いについては、専用口座を設置し、技能実習生に支給する講習手当、賃金とは明確に区別するとともに、講習手当及び賃金から徴収しないものとする。
</p>
<p>
    <strong>第７章　雑　則</strong>
</p>
<p>
    <strong>（協定書の解釈等）</strong>
</p>
<p>
    第２８条　本協定書の条項に解釈上の疑義が生じた場合又は本協定書に定めのない事項については、技能実習事業の目的に則り、両者の協議により決定するものとする。
</p>
<p>
    <strong>（紛争の処理）</strong>
</p>
<p>
    第２９条　技能実習事業に関し紛争が生じた場合には、技能実習事業の趣旨及び日本国の諸法令を尊重し、かつ、友好関係を損なわないように配慮しつつ、送出し機関と監理団体との協議により、解決するよう努力するものとする。なお、やむを得ない場合には、日本国の関係省庁又は裁判所の判断に従うものとする。
</p>
<p>
    <strong>（協定書の効力等）</strong>
</p>
<p>
    第３０条　本協定書は、署名の日から発効する。ただし、日本国の関係省庁から、本協定の内容に抵触する条件又は本協定に定めのない事項に関し指導があった場合には、それに従うとともに、監理団体は送出し機関に対し、速やかに当該内容を文書で通知する。以後、当該内容については、本協定に優先して適用するものとする。
</p>
<p>
    <strong>（協定書の終了）</strong>
</p>
<p>
    第３１条　本協定は、次のいずれかにより終了するとともに、本協定書は効力を失うものとする。
</p>
<p>
    　（１）本協定の対象となる技能実習事業が終了した場合
</p>
<p>
    　　　（本協定書の終了日は、技能実習事業の終了日とする。）
</p>
<p>
    　（２）技能実習の途中で継続が不可能となり、技能実習生が帰国することとなった場合（この場合には、文書をもって相手方に通知することとし、本協定書の終了日は、文書の発信日とする。）
</p>
<p>
    　以上に両者は合意し、協定書の正文として、日本語文及び英語文により各２通を作成し、署名するとともに、両者はそれぞれ各１通を保有する。
</p>
<p>
    　　　　　　　（送出し機関） （監理団体）
</p>
<p>
    　　　　　カンボジア王国　　　　　 日本国
</p>
<p>
    　　　　　Human Power Co., Ltd　　　 ${associationname}
</p>
<p>
    　　　　　代表者　LENG VICHHEKA　　　　　 代表者　${associationrepname}
</p>
<p>
    　　　　　署名<u> </u> 署名<u>　　　　　　</u><u> </u><u>　</u>
</p>
<p align="center">
    20 年 月 日　　　　於　カンボジア王国
</p>